.new-tweet {
  background-color: #eee;
  height: 155px;
  border: 1px solid #b7b7b7;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
}

.new-tweet textarea {
  width: 100%;
  padding-top: 3px;
  padding-left: 3px;
}

.over {
  color: red;
}

.new-tweet span {
  float: right;
}

.container .new-tweet h2 {
border-bottom: 1px solid black;
}