

.profilepic {
  margin-left: 10px;
  height: 80px;
  width: 80px;
  float: left;
}

header {
  position: relative;
  background: #F5F5F5;
  border-top: 1px solid #F5F5F5;
  border-radius: 5px;
  height: 80px;
}

.tweetsBox {
  opacity: 0.5;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin-top:10px;
  margin-bottom: 10px;
}

.tweetsBox:hover {
  opacity: 1;
}

.tweetsBox:hover .icons {
  visibility: visible;
}

footer .icons{
  float: right;
  padding-top: 17px;
  padding-right: 10px;
  visibility: hidden;
}

.tweetsSection {
  margin-top: 10px;
}


.tweetsSection div{
  line-height: 1em;
  padding:10px;
  text-align: left;
  height: 120px;
  font-size: 150%;
  position: relative;
}

.tweetsSection h2{
  line-height: 3em;
  padding-left: 100px;
  margin: 0;
}

.tweetsSection h5{

  padding-right: 10px;
  float: right;

}

footer {
  border-top: 1px solid #b7b7b7;
  padding-left: 10px;
  height: 50px;
}